name: Build and deploy Docker image for Maps4FS UI

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          iwatkot/maps4fsui:latest
          iwatkot/maps4fsui:${{ github.ref_name }}
        file: ./Dockerfile
        cache-from: type=gha
        cache-to: type=gha,mode=max

  deploy:

    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Wait until Docker image is available
        uses: actions/github-script@v3
        with:
          script: |
            const wait = (ms) => new Promise(resolve => setTimeout(resolve, ms));
            await wait(120000); // Wait for 2 minutes

      - name: Make POST request to redeploy UI container
        run: |
          curl -X POST "${{ secrets.REDEPLOY_ENDPOINT }}" \
            -H "Authorization: Bearer ${{ secrets.PRIVATE_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d '{"container_key": "ui"}'